argparse
beautifulsoup4
blinker
docutils
ecdsa
feedgenerator
jinja2
lxml
markdown==3.3.6
markupsafe
mdx-video
paramiko
pelican==4.7.1
pelican-alias==1.1
pillow
pycrypto
pygments
python-dateutil
pytz
six
smartypants
typogrify
unidecode
ghp-import
pyyaml
python-slugify
