<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

    <!-- Favicon -->
    <link href="{{ SITEURL }}/theme/apyb/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="{{ SITEURL }}/theme/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/pygments/{{ PYGMENTS_STYLE }}.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/apyb/css/base.css" rel="stylesheet">

    {% block aditional_styles %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="header-container">
              <img class="header-logo" src="{{ SITEURL }}/theme/apyb/img/site-logo.svg" title="{{ SITENAME }}" alt="{{ SITENAME }}"/>

              <nav class="navbar navbar-default navbar-inverse navbar-apyb">
                <div class="container">
                  <ul class="nav navbar-nav">
                    {% if page is defined %}
                      {% set href = page.slug %}
                    {% elif page_name is defined %}
                      {% set href = page_name.replace("/index", "") %}
                    {% else %}
                      {% set href = None %}
                    {% endif %}

                    {% for link in NAVBAR_HOME_LINKS %}
                      <li {% if href == link.href %}class="active"{% endif %}>
                        <a href="{{ link.href }}">{{ link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </nav>

              <h2 class="header-subtitle">{{ WELCOME_TEXT }}</h2>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </main>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <h3>Sobre</h3>
            <p>{{ FOOTER_ABOUT }}</p>
          </div>

          <div class="col-xs-4"></div>

          <div class="col-xs-4">
            <h3>Social</h3>

            <ul>
              {% for social in SOCIAL_LINKS %}
                <li><a href="{{ social.href }}"><icon class="fa {{ social.icon }}"></icon> {{ social.text }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ SITEURL }}/theme/bootstrap/js/bootstrap.min.js"></script>

    {% block aditional_scripts %}
    {% endblock %}
  </body>
</html>
