{% extends 'base.html' %}

{% block content %}
  <div class="row">
    {% for page in pages|sort(attribute='sortorder') %}
      {% if page.slug != 'index' %}
        <div class="col-xs-12 col-md-4 col-lg-4 page-description">
          <h1 class="page-description-title">{{ page.title }}</h1>

          <div class="page-description-text">
            {% if page.excerpt %}
            {{ page.excerpt }}
            {% else %}
            {{ page.content|truncate }}
            {% endif %}
          </div>

          <div class="text-right">
            <a href="{{ SITEURL }}/{{ page.slug }}" class="label label-primary">Mais &gt;</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
