<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

    <!-- Favicon -->
    <link href="{{ SITEURL }}/theme/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="{{ SITEURL }}/theme/css/pybr.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/pygment.css" rel="stylesheet">

    {% block aditional_styles %}
    {% endblock %}

    {% include 'google_tools.html' %}
  </head>

  <body>
    {% if page is defined %}
      {% set href = page.slug %}
    {% elif page_name is defined %}
      {% set href = page_name.replace("/index", "") %}
    {% else %}
      {% set href = None %}
    {% endif %}

    <div class="master-wrapper {% if href == 'index' %}yellow-top-border{% else %}blue-top-border{% endif %}">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

        <a class="navbar-brand" href="{{ SITEURL }}/">{{ SITENAME }}</a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav mr-auto">
            {% for link in NAVBAR_HOME_LINKS[:-1] %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ link.title }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for sublink in link.children %}
                    {% if sublink.href.startswith('http') %}
                      <a class="dropdown-item" href="{{ sublink.href }}">{{ sublink.title }}</a>
                    {% else %}
                      <a class="dropdown-item" href="{{ SITEURL }}/{{ sublink.href }}">{{ sublink.title }}</a>
                    {% endif %}
                  {% endfor %}
                </div>
              </li>
            {% endfor %}
          </ul>

          <ul class="navbar-nav">
            {% for link in NAVBAR_HOME_LINKS[-1:] %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ link.title }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  {% for sublink in link.children %}
                    <a class="dropdown-item" href="{{ SITEURL }}/{{ sublink.href }}">{{ sublink.title }}</a>
                  {% endfor %}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </nav>

      {% block header %}
        <header>
          <a href="https://github.com/pythonbrasil/wiki">
            <img style="position: absolute; top: 40px; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
          </a>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="header-container">
                  <a href="{{ SITEURL }}/index">
                    <img class="header-logo" src="{{ SITEURL }}/theme/img/site-logo.svg" title="{{ SITENAME }}" alt="{{ SITENAME }}"/>
                  </a>

                  <h2 class="header-subtitle">{{ WELCOME_TEXT }}</h2>
                </div>
              </div>
            </div>
          </div>
        </header>
      {% endblock %}

      <main>
        {% block content %}
        {% endblock %}
      </main>

      <footer>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
              <h3>Sobre</h3>
              <p>{{ FOOTER_ABOUT }}</p>
            </div>

            <div class="col-12 col-md-4 offset-md-2 col-lg-4 offset-lg-4">
              <h3>Social</h3>

              <ul>
                {% for social in SOCIAL_LINKS %}
                  <li><a href="{{ social.href }}"><icon class="fa {{ social.icon }}"></icon> {{ social.text }}</a></li>
                {% endfor %}
              </ul>
            </div>
        </div>
      </footer>

      <script src="{{ SITEURL }}/theme/js/jquery.min.js"></script>
      <script src="{{ SITEURL }}/theme/js/tether.min.js"></script>
      <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>

      {% block aditional_scripts %}
      {% endblock %}
    </div>
  </body>
</html>
