{% extends 'page.html' %}

{% block aditional_styles %}
  <link href="{{ SITEURL }}/theme/pybr/css/comunidades.css" rel="stylesheet">
{% endblock %}

{% block post_content %}
  <div class="row grupy-thumbnail-container">
    {% for comunidade in COMUNIDADES_LOCAIS %}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail grupy-thumbnail">
          <img src="{{ SITEURL }}/{% if comunidade.imagem %}{{ comunidade.imagem }}{% else %}{{ DEFAULT_COMMUNITY_IMAGE }}{% endif %}" alt="{{ comunidade.sigla }}">

          <div class="caption">
            <h3 class="text-center">{{ comunidade.sigla }}</h3>

            <p>{{ comunidade.nome }}</p>

            <p>
              {% for link in comunidade.links %}
                <a class="label label-default" href="{{ link.1 }}">{{ link.0 }}</a>
              {% endfor %}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
