{% extends 'page.html' %}

{% block page_title %}{% endblock %}

{% block post_content %}
<div class="row">
  <div class="col-xs-12">

    {% for regiao in EMPRESAS %}
      <h2 class="text-center">{{ regiao }}</h2>
      <hr>

      {% for estado in EMPRESAS[regiao] %}
        <h3>{{ estado  }}</h3>
        <div class="row thumbnail-container">

          {% for empresa in EMPRESAS[regiao][estado] %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="thumbnail">
                <a href="{{ empresa.site }}" target="_blank">
                  <img src="{{ SITEURL }}/{% if empresa.logo %}{{ empresa.logo }}{% else %}{{ DEFAULT_EMPRESA_IMAGE }}{% endif %}" alt="{{ empresa.nome }}">
                </a>

                <div class="caption">
                  <h4 class="text-center">
                    {{ empresa.nome }}

                    <small>
                      <a href="{{ empresa.site }}" target="_blank">
                        <i class="fa fa-globe"></i>
                      </a>
                    </small>
                  </h4>

                  {% if empresa.contatos %}
                    {% for contato in empresa.contatos %}
                      <p>
                        <a href="{{ contato.link }}" target="_blank">{{ contato.texto }}</a>
                      </p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>
{% endblock %}
