{% extends 'base.html' %}

{% block content %}
  <div class="row">
    {% for item in NAVBAR_HOME_LINKS %}
      <div class="col-xs-12 col-md-3 col-lg-3 page-description">
        <h1 class="page-description-title">{{ item.title }}</h1>

        <div class="page-description-text">
          {{ item.desc }}
        </div>

        <div class="text-right">
          <a href="{{ SITEURL }}/{{ item.href }}" class="label label-primary">Mais &gt;</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
