{% extends 'base.html' %}

{% block content %}
  <div class="home-background">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {% for item in NAVBAR_HOME_LINKS %}
            <a href="{{ SITEURL }}/{{ item.children.0.href }}" class="page-description-link">
              <div class="page-description">
                <h1 class="page-description-title">{{ item.title }} <i class="fa fa-angle-double-right"></i></h1>

                <div class="page-description-text">
                  {{ item.desc }}
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
