{% extends 'base.html' %}

{% block title %}{{ super() }}-{{ page.title }}{% endblock %}
{% block top_border_color %}blue{% endblock %}
{% block header %}{% endblock %}

{% block content %}
  <div class="container">
    {% block pre_content %}{% endblock %}

    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb">
          <li><a href="{{ SITEURL }}/index">Home</a></li>

          <li class="active">{{ page.title }}</li>
        </ol>

        <hr>

        {% block page_title %}
        <h1>{{ page.title }}</h1>
        {% endblock %}

        {% block page_content %}
        {{ page.content }}
        {% endblock %}
      </div>
    </div>

    {% block post_content %}{% endblock %}
  </div>
{% endblock %}
