.yellow-top-border {
  border-top: 4px solid #ffd343;
}

.blue-top-border {
  border-top: 4px solid #1d6bbd;
}

header {
  color: #ffffff;
  padding: 50px 0 60px 0;
  text-align: center;

  /* gradient */
  background-color: #2b5b84;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FF1E415E',endColorstr='#FF2B5B84');
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(10%,#1e415e),color-stop(90%,#2b5b84));
  background-image: -webkit-linear-gradient(#1e415e 10%,#2b5b84 90%);
  background-image: -moz-linear-gradient(#1e415e 10%,#2b5b84 90%);
  background-image: -o-linear-gradient(#1e415e 10%,#2b5b84 90%);
  background-image: linear-gradient(#1e415e 10%,#2b5b84 90%);
  -webkit-box-shadow: inset 0 0 50px rgba(0,0,0,0.03),inset 0 0 20px rgba(0,0,0,0.03);
  -moz-box-shadow: inset 0 0 50px rgba(0,0,0,0.03),inset 0 0 20px rgba(0,0,0,0.03);
  box-shadow: inset 0 0 50px rgba(0,0,0,0.03),inset 0 0 20px rgba(0,0,0,0.03);
}

table {
  width: 100%;
}

table tr td, table tr th {
  padding: 10px 5px;
}

.header-logo {
  width: 300px;
}

.menu-logo {
  display: none;
  margin: 30px 0 20px 0;
  text-align: center;
}

@media (max-width:767px) {
  .menu-logo {
    display: block;
  }
}

p > img {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #cccccc;

}

@media (max-width:767px) {
  p > img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.menu-logo>img {
  width: 200px;
}

@media only screen and (max-width: 400px) {
  .header-logo {
    width: 280px;
  }
}

.header-subtitle {
  font-size: 25px;
  color: #ffd343;
}

main {
  color: #444444;
  padding: 20px 0;
}

main h1, main h2, main h3, main h4 {
  color: #666666;
}

.page-content {
  font-size: 17px;
  line-height: 1.4em;
}

.page-content p {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.page-content ul, .page-content ol {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

footer {
  padding: 40px 0;
  background-color: #222222;
  color: #ffffff;
  text-align: justify;
}

footer ul {
  padding: 0;
}

footer ul>li {
  list-style: none;
  margin-bottom: 5px;
}

footer ul>li>a {
  color: #ffffff;
}

footer ul>li>a:hover, footer ul>li>a:active {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
