/* Slide Menu */

/* adjust body when menu is open */
body.slide-active > .master-wrapper {
  overflow-x: hidden;
}

/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
  margin-top: 0px !important;
}

.navbar {
  border-width: 0;
  margin-bottom: 0;
}

/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
  position: relative;
  margin-top: 49px;
  left: 0;
}

#page-content.slide-active {
  padding-top: 0;
}

/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
  cursor: pointer;
  line-height: 0;
  float: left;
  margin: 0;
  width: 30px;
  height: 40px;
  padding: 10px 0 0 0;
  border: 0;
  background: transparent;
}

/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
  width: 100%;
  display: block;
  height: 3px;
  margin: 5px 0 0 0;
}

#slide-nav .navbar-toggle.slide-active .icon-bar {
  background: #ffd343;
}

/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:767px) {
  #slide-nav .container {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
  }

  #slide-nav .navbar-header {
    position: absolute;
    margin: 0 auto;
    padding: 0 15px;
  }

  #slide-nav .navbar.slide-active {
    position: absolute;
    width: 80%;
    top: -1px;
    z-index: 1000;
  }

  #slide-nav #slidemenu {
    background: #f7f7f7;
    left: -100%;
    width: 80%;
    min-width: 0;
    position: absolute;
    padding-left: 0;
    z-index: 2;
    top: -8px;
    margin: 0;
  }

  #slide-nav #slidemenu .navbar-nav {
    min-width: 0;
    width: 100%;
    margin: 0;
  }

  #slide-nav #slidemenu .navbar-nav .dropdown-menu,
  #slide-nav #slidemenu .navbar-nav .dropdown-menu li {
    background-color: transparent;
  }

  #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
    min-width: 0;
    width: 80%;
    white-space: normal;
  }

  #slide-nav {
    border-top: 0;
  }

  #slide-nav.navbar-inverse #slidemenu {
    background: #333333;
  }

  #slide-nav.navbar-inverse .navbar-nav>.open>a:hover,
  #slide-nav.navbar-inverse .navbar-nav>.open>a:focus,
  #slide-nav.navbar-inverse .navbar-nav>.active>a,
  #slide-nav.navbar-inverse .navbar-nav>.active>a:hover,
  #slide-nav.navbar-inverse .navbar-nav>.active>a:focus {
    background: #292929;
  }

  /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
  #navbar-height-col {
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 80%;
    left: -80%;
    background: #f7f7f7;
  }

  #navbar-height-col.inverse {
    background: #333333;
    z-index: 1;
    border: 0;
  }

  #slide-nav .navbar-form {
    width: 100%;
    margin: 8px 0;
    text-align: center;
    overflow: hidden;
    /*fast clearfixer*/
  }

  #slide-nav .navbar-form .form-control {
    text-align: center;
  }

  #slide-nav .navbar-form .btn {
    width: 100%;
  }

}

@media (min-width:768px) {
  #page-content {
    left: 0 !important;
  }

  .navbar.navbar-fixed-top.slide-active {
    position: fixed;
  }

  .navbar-header {
    left: 0 !important;
  }
}
