.grupy-thumbnail-container {
  margin-top: 50px;
}

.grupy-thumbnail {
  min-height: 460px;
}

.grupy-thumbnail:hover {
  border-color: #888888;
}

.grupy-thumbnail > img {
  padding: 20px;
  max-height: 310px;
}

.grupy-thumbnail > .caption {
  text-align: center;
  padding-bottom: 10px;
}

.grupy-thumbnail > .caption > h3 {
  padding-bottom: 15px;
}

.list-group-item.comunidade-link {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin-bottom: none;
  padding: 0px 5px 5px 0px;
}
