main {
  padding: 0;
}

.page-description-container {
  background-color: #dddddd;
}

.page-description-link {
  color: #444444;
}

.page-description-link:hover {
  color: #444444;
  text-decoration: none;
}

.page-description {
  display: inline-block;
  width: 19%;
  height: 230px;
  padding: 70px 20px;
  vertical-align: top;
}


@media (max-width:1199px) {
  .page-description {
    display: block;
    width: inherit;
    height: inherit;
  }
}

.page-description:hover {
  background-color: #bbbbbb;
}

.page-description-title {
  margin-top: 0;
  color: #333333;
  font-size: 22px;
}

.page-description-text {
  font-size: 13px;
}
