/* fonts */

$fa-font-path: "../fonts";

$font-size-base: .875rem;
$font-size-lg:   1rem;
$font-size-sm:   .75rem;
$font-size-xs:   .625rem;

$headings-margin-bottom: 1rem;

/* colors */

$primary: #212529;
