header {
  border-top: 5px solid #ffd343;
  color: #ffffff;
  text-align: center;
  /* eader gradient */
  background: #092c34;  /* Old browsers */
  background: -moz-linear-gradient(top, #092c34 0%, #34608f 100%);  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #092c34 0%,#34608f 100%);  /* Chrome10-25, Safari5.1-6 */
  background: linear-gradient(to bottom, #092c34 0%,#34608f 100%);  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#092c34', endColorstr='#34608f', GradientType=0);  /* IE6-9 */
  /* end header gradient */
}

.header-container {
  padding: 40px 0;
}

.header-logo {
  width: 400px;
}

.header-subtitle {
  font: bold 18px;
  color: #ffd343;
}
