
<!-- Example row of columns -->
<div class="row">
  <div class="col-md-4">
    <h2>Python em pt_BR (portugu&ecirc;s)</h2>
    {% capture includemd %}{% include home_content/sobre_python_docs_ptbr.md %}{% endcapture %}
    {{ includemd | markdownify }}
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Python Wiki</h2>
    {% capture includemd %}{% include home_content/sobre_wiki.md %}{% endcapture %}
    {{ includemd | markdownify }}
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>A Comunidade Python</h2>
        {% capture includemd %}{% include home_content/sobre_comunidade.md %}{% endcapture %}
    {{ includemd | markdownify }}
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>