
<!-- Example row of columns -->
<div class="row">
  <div class="col-md-4">
    <h2>Python em pt_BR (portugu&ecirc;s)</h2>
    respotitorios
    {{ site.page.title }}
    {% for repo in public_repositories %}
      {{ repo.description }}
    {% endfor %}

    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Python Wiki</h2>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>A Comunidade Python</h2>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>